<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="${@environment.getProperty('application_name')}"></title>
</head>
<body>
	<div th:replace="base::css-core"></div>
	<div id="wrapper">
		<div th:replace="layout-dashboard :: navbar"></div>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<div id="content">
						<section>
							<h1 th:text="${#messages.msg('label.usermanagement.title')}">User
								Management</h1>
							<div th:if="${alertSuccess}" class="alert alert-success fade in">
								<a href="#" class="close" data-dismiss="alert">&times;</a><span
									th:text="${alertSuccess}">Success message.</span>
							</div>
							<div th:if="${alertWarning}" class="alert alert-warning fade in">
								<a href="#" class="close" data-dismiss="alert">&times;</a><span
									th:text="${alertWarning}">Warning message.</span>
							</div>
							<div class="controls controls-row">
								<div class="controls">
									<input type="text" id="searchParam" name="searchParam"></input>
									<span id="searchButton" class="btn btn-xs btn-primary"><span
										class="glyphicon glyphicon-search"></span> <span
										th:text="${#messages.msg('label.usermanagement.search')}">Search
											User</span> </span> <span
										onclick="window.open('/user/add','_self');"
										class="btn btn-xs btn-primary"><span
										class="glyphicon glyphicon-user"></span> <span
										th:text="${#messages.msg('label.usermanagement.title.add')}">Add
											User</span> </span>
								</div>
							</div>
							<br />
							<p class="btn-group btn-group-xs">
								<a th:href="@{/users}" class="btn btn-default"><span
									class="glyphicon glyphicon-remove-circle"></span> <span
									th:text="${#messages.msg('label.tasks.resetSearch')}">Reset
										Search</span></a>
							</p>
							<div th:if="${#lists.isEmpty(users)}">
								<span
									th:text="${#messages.msg('label.usermanagement.warning.isEmpty')}">Warning
									users is empty.</span>
							</div>
							<table class="table" th:if="${not #lists.isEmpty(users)}">
								<thead>
									<tr>
										<th class="col-sm-3"><span
											th:text="${#messages.msg('label.usermanagement.name')}">Username</span></th>
										<th class="col-sm-3"><span
											th:text="${#messages.msg('label.usermanagement.lastLoginTime')}">Last
												Login Time</span></th>
										<th class="col-sm-3"><span
											th:text="${#messages.msg('label.usermanagement.action')}">Action</span></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user : ${users}">
										<td th:text="${user.username}">username</td>
										<td th:text="${user.lastLoginTime}">last login time</td>
										<td><a class="btn btn-xs btn-info"
											th:href="@{/user/__${user.uuid}__/view}" href="#"
											th:text="${#messages.msg('label.button.view')}">View</a> <a
											class="btn btn-xs btn-success"
											th:href="@{/support/switchUser(username=${user.username})}"
											href="#" th:text="${#messages.msg('label.button.switch')}">Switch
												User</a></td>
									</tr>
								</tbody>
							</table>

							<div th:if="${username != null}">
								<ul class="pager">
									<li><a
										th:href="@{/users/__${username}__(start=${start-10 lt 0 ? 0 : start-10})}"
										th:text="${#messages.msg('label.button.previous')}" href="#">Previous</a></li>
									<li><a
										th:href="@{/users/__${username}__(start=${start+10 lt count ? start+10 : (count lt start+10 and count gt start? start+10 : count)})}"
										th:text="${#messages.msg('label.button.next')}" href="#">Next</a></li>
								</ul>
							</div>
							<div th:unless="${username != null}">
								<ul class="pager">
									<li><a
										th:href="@{/users(start=${start-10 lt 0 ? 0 : start-10})}"
										th:text="${#messages.msg('label.button.previous')}" href="#">Previous</a></li>
									<li><a
										th:href="@{/users(start=${start+10 lt count ? start+10 : (count lt start+10 and count gt start? start+10 : count)})}"
										th:text="${#messages.msg('label.button.next')}" href="#">Next</a></li>
								</ul>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="base::js-core"></div>
	<script type="text/javascript">
		//<![CDATA[
		jQuery(document).ready(function() {
			jQuery("span.timeago").timeago();
			setTimeout(function() {
				$(".alert").alert('close');
			}, 8000);

			$("#searchButton").click(function() {
				var param = $('#searchParam').val();
				window.open('/users/' + param, '_self');
			});

			$("#searchParam").keypress(function(e) {
				if (e.which == '13') {
					var param = $('#searchParam').val();
					window.open('/users/' + param, '_self');
				}
			});
		});
		//]]>
	</script>
</body>
</html>